{% extends "base.html" %}

{% block title %} Сбросить пароль {% endblock %}

{% block main_content %}
    <h1>Забыли пароль?</h1>
    <p>Введите e-mail чтобы получить новый</p>
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-12">
                <label for="{{ form.email.id_for_label}}" class="sr-only">{{ form.email.label }}</label>
                <input type="email"
                       class="form-control mb-2"
                       name="{{ form.email.name }}"
                       required
                       id="{{ form.email.auto_id }}"
                       placeholder="{{ form.email.label }}"
                >
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
{% endblock %}