{% extends "base.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block main_content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введите новый пароль:</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-row align-items-center">
            <div class="col-12">
                <label for="{{ form.new_password1.id_for_label}}" class="sr-only">{{ form.new_password1.label }}</label>
                <input type="password"
                       class="form-control mb-2"
                       name="{{ form.new_password1.name }}"
                       required
                       id="{{ form.new_password1.auto_id }}"
                       placeholder="{{ form.new_password1.label }}"
                >
            </div>
            <div class="col-12">
            <label for="{{ form.new_password2.id_for_label}}" class="sr-only">{{ form.new_password2.label }}</label>
            <input type="password"
                   class="form-control mb-2"
                   name="{{ form.new_password2.name }}"
                   required
                   id="{{ form.new_password2.auto_id }}"
                   placeholder="{{ form.new_password2.label }}"
            >
            </div>
        </div>
            <button type="submit" class="btn btn-dark">Сменить пароль</button>
        </form>
    {% else %}
        <p>Ваша ссылка для смены пароля никуда не годится. Попробуйте ещё раз.</p>
    {% endif %}
{% endblock %}