{% extends 'base.html' %}

{% block title %} Изменить задачу {% endblock %}

{% block main_content %}
    <h1>Поменять задачу</h1>
    <form action="{% url 'tasks:edit' task.pk %}" method="post">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-12">
                <label class="sr-only" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div class="col-12">
                {{ form.priority }}
            </div>
        </div>
        <button class="btn btn-dark" type="submit">Сохранить</button>
    </form>
{% endblock %}